/* common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-bg-color: #255ee9;
  --bg-light-color: #f6f6f6;
  --contacts-bg-color: #23272a;
  --footer-main-color: #7289da;
  --footer-btn-color: #8ea1e1;
  --bg-lighter-color: white;
  --darker-color: black;
}

/* debug */

.debug {

  * {
    border: 2px dashed black;
  }

  .bg-header {
    background-color: var(--header-bg-color);
  }

  .bg-header-primary {
    background-color: var(--header-color);
  }

  .bg-jumbotron-primary {
    background-color: var(--jumbotron-color);
  }

  .bg-jumbotron {
    background-color: var(--jumbotron-bg-color);
  }

  .bg-light {
    background-color: var(--bg-light-color);
  }

  .bg-lighter {
    background-color: var(--bg-lighter-color);
  }

  .bg-primary-dark {
    background-color: var(--primary-dark-color);
  }

  .bg-primary-light {
    background-color: var(--primary-light-color);
  }

  .bg-primary-medium {
    background-color: var(--primary-medium-color);
  }

  .bg-contacts {
    background-color: var(--contacts-bg-color);
  }

  .bg-contacts-main {
    background-color: var(--contacts-main-color);
  }

  .bg-contacts-secondary {
    background-color: var(--contacts-secondary-color);
  }

  .bg-footer {
    background-color: var(--footer-main-color);
  }

  .bg-footer-btn {
    background-color: var(--footer-btn-color);
  }

  .mh-1000 {
    min-height: 1000px;
  }

  .mh-900 {
    min-height: 900px;
  }

  .mh-650 {
    min-height: 650px;
  }

  .mh-600 {
    min-height: 600px;
  }

  .mh-550 {
    min-height: 550px;
  }

  .mh-500 {
    min-height: 500px;
  }

  .mh-400 {
    min-height: 400px;
  }

  .mh-100 {
    min-height: 100px;
  }

  .mh-90 {
    min-height: 90px;
  }

  .mh-75 {
    min-height: 75px;
  }

  .mh-30 {
    min-height: 30px;
  }

}

/* utilities */

.d-flex {
  display: flex;
}

.fd-c {
  flex-direction: column;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

.w-25 {
  width: 25%;
}

.w-10 {
  width: 10%;
}

.m-auto {
  margin: auto;
}

/* body */

body {
  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* main */

#site-header {
  padding: 1.5rem 0;
  background-color: var(--header-bg-color);

  ul {
    font-size: 1.1rem;
    list-style: none;
    gap: 3rem;
    flex-wrap: wrap;

    a {
      color: var(--bg-lighter-color);
      text-decoration: none;
    }
  }

  a.button {
    text-decoration: none;
    color: var(--contacts-bg-color);
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 2rem;
    text-align: center;
    font-size: 1rem;
    background-color: var(--bg-lighter-color);
  }
}

#jumbotron {
  background-image: url('../img/jumbo.png');
  background-position: center;
  background-size: cover;
  min-height: 625px;

  h1 {
    color: var(--bg-lighter-color);
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    padding-top: 7rem;
    padding-bottom: 3rem;
  }

  p {
    padding: 0 2rem;
    text-align: center;
    color: var(--bg-lighter-color);
    font-size: 1.45rem;
    font-weight: 400;
    line-height: 2.3rem;
  }

  #jumbo_buttons {
    text-align: center;
    padding-top: 2rem;

    .jumbo-btn {
      text-decoration: none;
      font-size: 1.5rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 2rem;
    }

    #download {
      background-color: var(--bg-lighter-color);
      margin-right: 0.75rem;
      color: var(--contacts-bg-color);
    }

    #open {
      background-color: var(--contacts-bg-color);
      color: var(--bg-lighter-color);
      margin-left: 0.75rem;
    }
  }
}

#invite-only {

  .w-70 {
    padding: 5rem 0;

    .w-60 {
      padding-right: 5rem;
    }

    .w-40 {
      padding-top: 8rem;
      padding-left: 8rem;

      h2 {
        font-size: 3.5rem;
        color: var(--contacts-bg-color);
      }

      p {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-top: 1rem;
      }
    }
  }
}

#community {
  background-color: var(--bg-light-color);

  .w-70 {
    padding: 12rem 0;

    .w-40 {
      padding-top: 2rem;
      padding-right: 8rem;

      h2 {
        font-size: 3.5rem;
        color: var(--contacts-bg-color);
      }

      p {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-top: 1rem;
      }
    }
  }
}

#fandom {

  .w-70 {
    padding: 5rem 0;

    .w-60 {
      padding-right: 5rem;
    }

    .w-40 {
      padding-top: 1rem;
      padding-left: 8rem;

      h2 {
        font-size: 3.5rem;
        color: var(--contacts-bg-color);
      }

      p {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-top: 1rem;
      }
    }
  }
}

#technology {
  background-color: var(--bg-light-color);

  .w-70 {
    padding-top: 10rem;
    padding-bottom: 8rem;

    h2 {
      font-size: 3.3rem;
      color: var(--contacts-bg-color);
    }

    p {
      text-align: center;
      font-size: 1.4rem;
      line-height: 2rem;
      margin-top: 1rem;
      padding: 0 6rem;
    }

    img {
      width: 100%;
      margin-bottom: 2rem;
    }

    .stars {
      background-image: url('../img/stars.svg');
      background-size: contain;
      background-repeat: no-repeat;

      padding: 3rem;

      h3 {
        font-size: 2rem;
        color: var(--contacts-bg-color);
      }
    }

    #download-tech {
      text-decoration: none;
      font-size: 1.5rem;
      color: var(--bg-lighter-color);
      background-color: var(--footer-btn-color);
      border: none;
      border-radius: 2rem;
      padding: 1rem 2rem;
    }
  }

}

#site_footer {
  background-color: var(--contacts-bg-color);
  color: var(--bg-lighter-color);

  #footer-container {
    padding-top: 5rem;
  }

  h2 {
    padding-right: 4rem;
    padding-bottom: 2rem;
    color: var(--footer-main-color);
    font-size: 2rem;
  }

  #language {
    height: 20px;
    width: 30px;
  }

  select {
    background-color: transparent;
    color: var(--bg-lighter-color);
    font-size: 1rem;
    border: none;
    margin-bottom: 1.5rem;
  }

  i {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .w-70 {
    padding-top: 0.5rem;

    h4 {
      color: var(--footer-main-color);
      margin-bottom: 0.5rem;
    }

    ul {
      list-style: none;

      a {
        text-decoration: none;
        color: var(--bg-lighter-color);
        line-height: 2rem;
        font-weight: 500;
      }
    }
  }

  hr {
    width: 70%;
    margin: 2rem auto;
    border-color: var(--footer-main-color);
  }

  #footer-second {
    padding-bottom: 5rem;

    #register {
      text-decoration: none;
      font-size: 1rem;
      color: var(--bg-lighter-color);
      background-color: var(--footer-btn-color);
      border: none;
      border-radius: 2rem;
      padding: 0.5rem 1rem;
    }
  }
}

.wave-1hkxOo {
  background-color: var(--bg-light-color);
}

.wave-1hkxOo-2 {
  background-color: var(--bg-lighter-color);
}