/* common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --header-color: #daa520; */
  /* --jumbotron-bg-color: #00008b; */
  /* --jumbotron-color: #ee82ee; */
  /* --primary-dark-color: #1e90ff; */
  /* --primary-light-color: #ffc0cb; */
  /* --primary-medium-color: #228b22; */
  /* --contacts-main-color: #f08080; */
  /* --contacts-secondary-color: #20b2aa; */
  --header-bg-color: #255ee9;
  --bg-light-color: #f6f6f6;
  --contacts-bg-color: #23272a;
  --footer-main-color: #7289da;
  --footer-btn-color: #8ea1e1;
  --bg-lighter-color: white;
  --darker-color: black;
}

/* debug */

.debug {

  * {
    border: 2px dashed black;
  }

  .bg-header {
    background-color: var(--header-bg-color);
  }

  .bg-header-primary {
    background-color: var(--header-color);
  }

  .bg-jumbotron-primary {
    background-color: var(--jumbotron-color);
  }

  .bg-jumbotron {
    background-color: var(--jumbotron-bg-color);
  }

  .bg-light {
    background-color: var(--bg-light-color);
  }

  .bg-lighter {
    background-color: var(--bg-lighter-color);
  }

  .bg-primary-dark {
    background-color: var(--primary-dark-color);
  }

  .bg-primary-light {
    background-color: var(--primary-light-color);
  }

  .bg-primary-medium {
    background-color: var(--primary-medium-color);
  }

  .bg-contacts {
    background-color: var(--contacts-bg-color);
  }

  .bg-contacts-main {
    background-color: var(--contacts-main-color);
  }

  .bg-contacts-secondary {
    background-color: var(--contacts-secondary-color);
  }

  .bg-footer {
    background-color: var(--footer-main-color);
  }

  .bg-footer-btn {
    background-color: var(--footer-btn-color);
  }

  .mh-1000 {
    min-height: 1000px;
  }

  .mh-900 {
    min-height: 900px;
  }

  .mh-650 {
    min-height: 650px;
  }

  .mh-600 {
    min-height: 600px;
  }

  .mh-550 {
    min-height: 550px;
  }

  .mh-500 {
    min-height: 500px;
  }

  .mh-400 {
    min-height: 400px;
  }

  .mh-100 {
    min-height: 100px;
  }

  .mh-90 {
    min-height: 90px;
  }

  .mh-75 {
    min-height: 75px;
  }

  .mh-30 {
    min-height: 30px;
  }

}

/* utilities */

.d-flex {
  display: flex;
}

.jc-c {
  justify-content: center;
}

.jc-start {
  justify-content: start;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.ai-c {
  align-items: center;
}

.ai-start {
  align-items: start;
}

.ai-end {
  align-items: end;
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.w-75 {
  width: 75%;
}

.w-70 {
  width: 70%;
}

.w-65 {
  width: 65%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.w-45 {
  width: 45%;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

.w-25 {
  width: 25%;
}

.w-20 {
  width: 20%;
}

.w-15 {
  width: 15%;
}

.w-10 {
  width: 10%;
}

.h-100 {
  height: 100%;
}

.p-075 {
  padding: 0.75rem;
}

.pp-075 {
  padding: 0 0.75rem;
}

.m-auto {
  margin: auto;
}

.mt-1 {
  margin-top: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.dashed-light {
  border: 2px dashed var(--bg-lighter-color);
}

.ta-c {
  text-align: center;
  align-content: center;
}

/* body */

body {
  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* main */

#site-header {
  padding: 1.5rem 0;
  background-color: var(--header-bg-color);

  ul {
    font-size: 1.1rem;
    list-style: none;
    gap: 3rem;
    flex-wrap: wrap;

    a {
      color: var(--bg-lighter-color);
      text-decoration: none;
    }
  }

  #header-login {
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 2rem;
    text-align: center;
    font-size: 1rem;
    background-color: var(--bg-lighter-color);

  }
}

#jumbotron-section {
  background-image: url('../img/jumbo.png');
  background-size: cover;
  min-height: 625px;

  h1 {
    color: var(--bg-lighter-color);
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    padding-top: 7rem;
    padding-bottom: 3rem;
  }

  p {
    padding: 0 2rem;
    text-align: center;
    color: var(--bg-lighter-color);
    font-size: 1.45rem;
    font-weight: 400;
    line-height: 2.3rem;
  }

  #jumbo_buttons {
    text-align: center;
    padding-top: 2rem;

    .jumbo-btn {
      font-size: 1.5rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 2rem;
    }

    #download {
      background-color: var(--bg-lighter-color);
      margin-right: 0.75rem;
    }

    #open {
      background-color: var(--contacts-bg-color);
      color: var(--bg-lighter-color);
      margin-left: 0.75rem;
    }
  }
}

#invite-only-section {

  .w-70 {
    padding: 5rem 0;

    .w-60 {
      padding-right: 5rem;
    }

    .w-40 {
      padding-top: 8rem;
      padding-left: 8rem;

      .section-h2 {
        font-size: 3.5rem;
        color: var(--contacts-bg-color);
      }

      .section-p {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-top: 1rem;
      }
    }

  }
}

#community-section {
  background-color: var(--bg-light-color);

  .w-70 {
    padding: 17rem 0;
  }

  .w-40 {
    padding-top: 2rem;
    padding-right: 8rem;

    .section-h2 {
      font-size: 3.5rem;
      color: var(--contacts-bg-color);
    }

    .section-p {
      font-size: 1.4rem;
      line-height: 2rem;
      margin-top: 1rem;
    }
  }



}